@import "vars"
@import '~vuetify/src/styles/styles.sass'


html, body
  padding: 0
  margin: 0
  box-sizing: border-box
  font-size: 16px

body
  font-family: "Lato", sans-serif
  font-style: normal
  font-weight: normal
  background-color: $bg
  color: $text !important

a
  text-decoration: none !important

input
  outline: none

.v-application
  font-family: "Lato", sans-serif !important

.btn
  text-transform: none
  border-radius: 45px
  font-weight: 500 !important
  font-size: 18px
  line-height: 22px
  background: #E8F3FB
  box-shadow: -11px -11px 20px rgba(255, 255, 255, 0.272044), -8px -40px 22px rgba(246, 251, 255, 0.384288), -8px 0px 8px rgba(244, 248, 251, 0.50254), 19px 21px 50px rgba(176, 195, 210, 0.727846)

.screen__logo
  position: absolute
  top: 50px
  left: 50%
  transform: translateX(-50%)
  z-index: 2
  width: 80%
  img
    width: 100%
